
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quản Nam - Văn Kiệc</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/product/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/product/css/bootstrap.min.css">
    <link rel="stylesheet" href="/product/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/product/css/magnific-popup.css">
    <link rel="stylesheet" href="/product/css/font-awesome.min.css">
    <link rel="stylesheet" href="/product/css/themify-icons.css">
    <link rel="stylesheet" href="/product/css/nice-select.css">
    <link rel="stylesheet" href="/product/css/flaticon.css">
    <link rel="stylesheet" href="/product/css/gijgo.css">
    <link rel="stylesheet" href="/product/css/animate.css">
    <link rel="stylesheet" href="/product/css/slick.css">
    <link rel="stylesheet" href="/product/css/slicknav.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="/product/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="/user/list">
                                    <img src="/product/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/user/list">home</a></li>
                                        <li><a href="about.ejs">About</a></li>
                                        <li><a class="" href="travel_destination.ejs">Destination</a></l /li>
                                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="destination_details.ejs">Destinations details</a></li>
                                                <li><a href="elements.ejs">elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.ejs">blog</a></li>
                                                <li><a href="single-blog.ejs">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.ejs">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="social_wrap d-flex align-items-center justify-content-end">
                                <div class="number">
                                    <p> <i class="fa fa-phone"></i> +84.945.282.263</p>
                                </div>
                                <div class="social_links d-none d-xl-block">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="seach_icon">
                            <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>