
        <!-- Modal -->
        <form action="/user/search" method="GET">
            <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="serch_form">
                        <input type="text" placeholder="Search" id="keyword" name="keyword">
                        <button type="submit">search</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!-- link that opens popup -->
        <!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script> -->
        <!-- JS here -->
        <script src="/product/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/product/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/product/js/popper.min.js"></script>
        <script src="/product/js/bootstrap.min.js"></script>
        <script src="/product/js/owl.carousel.min.js"></script>
        <script src="/product/js/isotope.pkgd.min.js"></script>
        <script src="/product/js/ajax-form.js"></script>
        <script src="/product/js/waypoints.min.js"></script>
        <script src="/product/js/jquery.counterup.min.js"></script>
        <script src="/product/js/imagesloaded.pkgd.min.js"></script>
        <script src="/product/js/scrollIt.js"></script>
        <script src="/product/js/jquery.scrollUp.min.js"></script>
        <script src="/product/js/wow.min.js"></script>
        <script src="/product/js/nice-select.min.js"></script>
        <script src="/product/js/jquery.slicknav.min.js"></script>
        <script src="/product/js/jquery.magnific-popup.min.js"></script>
        <script src="/product/js/plugins.js"></script>
        <script src="/product/js/gijgo.min.js"></script>
        <script src="/product/js/slick.min.js"></script>



        <!--contact js-->
        <script src="/product/js/contact.js"></script>
        <script src="/product/js/jquery.ajaxchimp.min.js"></script>
        <script src="/product/js/jquery.form.js"></script>
        <script src="/product/js/jquery.validate.min.js"></script>
        <script src="/product/js/mail-script.js"></script>


        <script src="/product/js/main.js"></script>
        <!-- <script>
            $('#datepicker').datepicker({
                iconsLibrary: 'fontawesome',
                icons: {
                    rightIcon: '<span class="fa fa-caret-down"></span>'
                }
            });
        </script> -->