<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Light Bootstrap Dashboard by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="./../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="./../css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="./../css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="./../css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="./../img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://localhost:2212/admin/create" class="simple-text">
                Tour Travel
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="user.html">
                    <i class="pe-7s-user"></i>
                    <p>User Manager</p>
                </a>
            </li>
            <li class="active">
                <a href="http://localhost:2212/admin/product">
                    <i class="pe-7s-note2"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a href="typography.html">
                    <i class="pe-7s-news-paper"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <i class="pe-7s-science"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li>
                <a href="maps.html">
                    <i class="pe-7s-map-marker"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a href="notifications.html">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>

        </ul>
    </div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Create Tour</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
            

                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Create Tour</h4>
                            </div>
                            <div class="content">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Company : CodeGym-BrotherHood</label>
                                        <input type="text" class="form-control" disabled placeholder="Name Tour" value="Travel Package">
                                    </div>
                                </div>
                                <br>
                                <br>
                                
                                <hr>
                                <form action="/admin/create" method="POST" enctype="multipart/form-data">
                                    <div class="row">
                                        <div>
                                            <div class="form-group">
                                                <label>Travel Package</label>
                                                <input type="text" class="form-control" placeholder="Input name tour" id="name" name="name" >
                                            </div>
                                        </div>
                                    
                                        <div>
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input type="number" class="form-control" placeholder="Price" id="price" name="price">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <label>About Tour</label>
                                                <textarea rows="5" class="form-control" placeholder="Here can be your description" id="description" name="description"></textarea>
                                            </div>
                                        </div>
                                
                            
                                        <div>
                                            <div class="mb-3">
                                                <label for="formFile" class="form-label">Default file input example</label>
                                                <input class="form-control" type="file" id="formFile" name="image">
                                              </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" >Create</button></div>
                                    </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


       

    </div>
</div>


</body>

  <!--   Core JS Files   -->
  <script src="../../../js/jquery.3.2.1.min.js" type="text/javascript"></script>
  <script src="../../../js/bootstrap.min.js" type="text/javascript"></script>

  <!--  Charts Plugin -->
  <script src="./../js/chartist.min.js"></script>

  <!--  Notifications Plugin    -->
  <script src="./../js/bootstrap-notify.js"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
  <script src="./../js/light-bootstrap-dashboard.js"></script>

  <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
  <script src="./../js/demo.js"></script>

</html>